.playlist {
  display: flex;
  align-items: center;
  flex-direction: column;
}

table {
  border-collapse: collapse;
  max-width: 50%;
}

td,
th {
  padding: 10px;
}

thead > tr {
  border-top: 1px solid grey;
  border-bottom: 2px solid grey;
  font-size: 18px;
}

tbody > tr {
  border-bottom: 1px solid grey;
}

.download-selected-btn {
  width: content;
  @media screen {
  }
}
